<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYTIIT1Azd0ME2bPp3gdSPDLsvMQfgeps</string>
	<key>GCM_SENDER_ID</key>
	<string>542035375022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zere.HouseApps</string>
	<key>PROJECT_ID</key>
	<string>rise-app-3ca5b</string>
	<key>STORAGE_BUCKET</key>
	<string>rise-app-3ca5b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542035375022:ios:b5871ed8f294fc746f0e3f</string>
</dict>
</plist>